@import "tailwindcss";

@theme {
  --font-serif: "EB Garamond", serif;
  --font-sans: "Work Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-primary: #8d4b00;
  --color-primary-container: #b15f00;
  --color-primary-fixed: #ffdcc3;
  --color-secondary: #5a632e;
  --color-secondary-container: #dce5a3;
  --color-tertiary: #585f40;
  
  --color-parchment: #fbfaee;
  --color-stone-card: #f7f3e9;
  --color-stone-border: #e4e3d7;
  --color-stone-dark: #2d2a26;
  
  --color-surface-dim: #dbdbcf;
  --color-surface-bright: #fbfaee;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f4e8;
  --color-surface-container: #efeee3;
  --color-surface-container-high: #e9e9dd;
  --color-surface-container-highest: #e4e3d7;
  
  --color-on-surface: #1b1c15;
  --color-on-surface-variant: #554336;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-parchment);
    color: var(--color-on-surface);
  }
  
  h1, h2, h3, h4, .font-serif-header {
    font-family: var(--font-serif);
  }
}

/* Custom scrollbar hiding utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
